---
name: CLI Tests

on:
  pull_request:
    branches:
      - master
    paths:
      - src/cli/**

jobs:
  cli-integration-tests:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install project dependencies
        run: |-
          pip install -e .
          pip install -e ./src/test/
      - name: Run CLI tests
        env:
          GH_WORKFLOW_RUNNING: true
          MINITRINO_TEST_LOG_LEVEL: DEBUG
        run: |-
          minitrino --help || exit 1
          pytest -x --debug src/test/cli/integration_tests/
  cli-unit-tests:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install project dependencies
        run: |-
          pip install -e .
          pip install -e ./src/tests/
      - name: Run unit tests with coverage
        env:
          GH_WORKFLOW_RUNNING: true
          MINITRINO_TEST_LOG_LEVEL: DEBUG
        run: |-
          minitrino --help || exit 1
          pytest -x --debug \
            --cov=minitrino \
            --cov-report=term-missing \
            --cov-report=xml \
            --cov-fail-under=90 \
            src/tests/cli/unit_tests/
      - name: Upload coverage reports
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.xml
          fail_ci_if_error: true
          flags: unittests
          name: codecov-umbrella
