---
name: Library Tests (Trino)

on:
  pull_request:
    branches:
      - master
    paths:
      - src/lib/**

jobs:
  lib-tests:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v5
      - name: Free up disk space
        uses: ./.github/actions/cleanup-disk
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: Install project dependencies
        run: |-
          pip install -e .
          pip install -e ./src/tests/
      - name: Write config file and point to license
        run: |-
          mkdir ~/.minitrino/
          cat <<EOF > ~/.minitrino/minitrino.cfg
          [config]
          IMAGE=trino
          EOF
      - name: Run library tests
        run: |-
          python ./src/tests/lib/runner.py \
            --debug --remove-images --image trino
