---
name: Update Version Files on New Release Branch

on:
  push:
    branches:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  update-versions:
    if: github.event.created
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Update version files
        env:
          GITHUB_TOKEN: ${{ secrets.MINITRINO_TOKEN }}
        run: |-
          BRANCH=$(echo "${GITHUB_REF#refs/heads/}")
          echo "Updating version files to version ${BRANCH}"
          echo "Update ./src/lib/version"
          echo "${BRANCH}" > ./src/lib/version

          echo "Update ./pyproject.toml"
          sed -i "s|version = \".*\"|version = \"${BRANCH}\"|" \
            ./pyproject.toml

          echo "Update ./readme.md"
          sed -i "s|\*\*Latest Stable Release\*\*: [0-9]\.[0-9]\.[0-9]|\
          \*\*Latest Stable Release\*\*: ${BRANCH}|" ./readme.md

          if [[ -n $(git status --porcelain) ]]; then
            echo "Commit version changes"
            git config \
              --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
            git config --global user.name "${GITHUB_ACTOR}"
            git add ./src/lib/version ./pyproject.toml ./readme.md
            git commit -m "Update version files to ${BRANCH}"
            git push
          else
            echo "No version changes to commit"
          fi
